.logo {
  margin-left: 10px;
  height: 65px;
}

.login-btn {
  background-color: #f5f6fa;
  color: #0c2461;
  border-radius: 0%;
  width: 130px;
  font-size: 20px;
  font-weight: 550;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
